html,
body {
    width: 1280px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding: 0px;
    background-color: #E5E5E5;
    box-sizing: border-box;
}

header {
    text-align: left;
    background-color: #C4D8FF;
}

main { 
    margin: 0px;
    padding: 0px;
}
.site_name {
    width: 279px;
    height: 42px;
    display: inline-block;
    margin-left: 60px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 108px;
}
.main_nav {
    display: inline-block;
    height: 21px;
}
h2 {
    margin-bottom: 24px;
    padding-top: 10px;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 29px;
}
li {
    display: inline;
    padding-right: 32px;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #202020;
}
a:hover {
    text-decoration: underline;
}
.nav_main_page {
    text-decoration: underline;
    color: #FF0000;
}
.last_articles {
    width: 580px;
    margin-left: 61px;
    margin-top: 56px;
    margin-bottom: 24px;  
}
.article_card {
    width: 580px;
    border-radius: 15px;
    margin-bottom: 52px;
    box-sizing: border-box;
    overflow: hidden;   
}
.last_article_img {
    width: 100%;
    margin-bottom: 24px;
}
.article_card_description {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.article_card:nth-child(2n) {
    background-color: rgba(229, 229, 230, .6);
    border: 3px solid #C8DDF0;
}
.article_card:nth-child(2n+1) {
    background-color: rgba(200, 221, 240, .6);
    border: 3px solid #e5e5e5;
}
article a {
    text-decoration: underline;
    color: #FF0000;    
}
article a:hover {
    text-decoration: none;
}

h3 {
    height: 28px;
    font-weight: 500;
    margin-bottom: 12px;
}
time {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #979797;
}
p {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
}
footer {
    background-color: #C4D8FF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}